html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1 {
  font-size: 1.5rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 2rem;
  }
}
.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1000px;
}
.row::before,
.row::after {
  display: table;
  content: ' ';
  clear: both;
}
.one,
.one-third,
.two-thirds,
.one-fourth,
.half {
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .one {
    width: 100%;
    padding: 10px;
  }
  .half {
    width: calc(100% / 2);
    padding: 10px;
  }
  .one-third {
    width: calc(100% / 3);
  }
  .one-fourth {
    width: calc(100% / 4);
  }
  .two-thirds {
    width: calc(100% / 3 * 2);
  }
  .column {
    float: left;
  }
}
table {
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #424d55;
}

body {
  background-color: #38444c;
  color: #f0f2f3;
}

a:link {
  color: #74C191;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #74C191;
  background-color: transparent;
  text-decoration: none;
}
pre {
  background-color: #4c5c67;
  border: 1px solid #627684;
  display: block;
  padding: 20px;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: #0b1016;
  }
  tr:hover {
    background-color: #f5f5f5;
  }
  a:link {
    color: #6CB186;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #6CB186;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  pre {
    background-color: #e6e6e6;
    border: 1px solid #cccccc;
    display: block;
    padding: 20px;
  }
}
